div.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(235, 233, 233);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.bell,
.R {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.bell {
  animation: shake 1.75s ease-out 1 forwards;
}

@keyframes shake {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 50% 50%;
    opacity: 0.1;
  }

  10% {
    transform: translate(-50%, -50%) rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(10deg);
    opacity: 1;
  }
  50%,
  70% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  80% {
    transform: translate(-50%, -50%) rotate(-8deg);
    opacity: 0.1;
  }

  90% {
    transform: translate(-50%, -50%) rotate(8deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 50% 50%;
    opacity: 0;
  }
}

img.R {
  animation: fadein 3s ease-in forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  75% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

h3 {
  font-size: xx-large;
  color: #9a73b5;
}

.txt1 {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 3.5s
    both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

h4 {
  font-size: 18px;
  color: #878787;
  letter-spacing: 1.5px;
}
.txt2 {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s both;
}

@keyframes scale-in-center {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
