div.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(235, 233, 233);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.bell,
.R {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.bell {
  animation: shake 1.75s ease-out 1 forwards;
}

img.R {
  animation: fadein 3s ease-in;
}

@keyframes shake {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 50% 50%;
    opacity: 0.1;
  }

  10% {
    transform: translate(-50%, -50%) rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(10deg);
    opacity: 1;
  }
  50%,
  70% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  80% {
    transform: translate(-50%, -50%) rotate(-8deg);
    opacity: 0.1;
  }

  90% {
    transform: translate(-50%, -50%) rotate(8deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 50% 50%;
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
